* {
    font-family: 'Courier New', monospace;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 13px;
}

input {
    padding: 5px 3px;
    border-radius: 0;
    border: solid 1px black;
    width: calc(100% - 102px);
    /* 100% minus (aside width (100px) + border width (2px)) */
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

button {
    cursor: pointer;
    white-space: normal;
    word-wrap: break-word;
    margin: 3px;
    padding: 3px;
    background: #ffffff;
    border: 1px solid black;
    border-radius: 3px;
    box-shadow: 1px 1px black;
    width: 180px;
    text-align: left;
}

button:hover {
    background: #e7e7e7;
}

.hs {
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(20, 200px);
}